@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&family=Merriweather:wght@400;700;900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: 'Inter', sans-serif;
  font-family: 'Merriweather', serif; */
}
/* shared styles */
body{
  max-width: 1320px;
  width: 82.5%;
  margin: auto;
}
.color-primary{
  color: #070211;
}
.color-secondary{
  color: #F00;
}


/* banner section styles*/

.banner-section{
  background-image: url('../images/Banner-Image.png');
  background-repeat: no-repeat;
  border-radius: 16px;
  background-position: center;
  margin-top: 50px ;
  height: 600px;
}

.banner-content{
  padding: 177px 0;
  background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);
  border-radius: 16px;
  font-family: 'Merriweather', serif;
}

.banner-content>p{
  color: #FFF;
  text-align: center;
  font-size: 32px;
  margin-bottom: 16px ;
}

.banner-content h1{
  color: #FFF;
  text-align: center;
  font-size: 72px;
  font-weight: 900;
  line-height: 95px; 
}

/* offer section styles */
.offer-section{
  width: 60%;
  max-width: 800px;
  margin: auto;
  margin-top: 120px;
}

.offer-content{
  font-family: 'Inter', sans-serif;
}

.offer-content>h1{
  text-align: center;
  font-size: 88px;
  font-weight: 700;
  margin-bottom: 48px;
}

.offer-content p{
  text-align: center;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 16px;
}
.offer-content h2{
  color: #070211;
  text-align: center;
  font-family: Inter;
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 48px;
}
.offer-content img{
  width: 100%;
}


.party-section{
  background-image: url('../images/Vectorrr.png');
  background-repeat: no-repeat;
  border-radius: 16px;
  background-position: center;
  margin-top: 50px ;
  height: 600px;
  margin-top: 120px;
}

.party-container{
  font-family: 'Merriweather', serif;
  margin: auto;
  background: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);
  border-radius: 16px;
  display: flex;
  justify-content: space-between;
  gap: 40px;
  align-items: center;
  padding: 65.5px 126px;
}
.party-content>h1{
  color: #FFF;
  font-family: Merriweather;
  font-size: 64px;
  font-weight: 900;
  line-height: 88px; 
  letter-spacing: 7.04px;
  margin-bottom: 24px;
}

.party-content p{
  color: #ffffffcc;
  font-family: Inter;
  font-size: 18px;
  line-height: 30px; 
  margin-bottom: 48px;
}
.party-content a{
  color: #FFF;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
  margin-left: 14px;
  padding: 15px 18px;
  text-decoration: none;
}
.party-content a:hover{
  background-color: white;
  border-radius: 15px;
  color: #070211;

}